# Модуль 5. Практическое задание 5

In [2]:
import polars as pl
import pandas as pd
import bottleneck as bn
import numpy as np

![separator1](https://i.imgur.com/ZUWYTii.png)

## Polars

In [5]:
titanic = pl.read_csv(r'D:\ДПО\data\train_titanic.csv')
titanic.head(5)

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                           ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                            ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                            ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris        ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley     ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ (Fl…                           ┆   ┆                  ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina         ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs. Jacques Heath   ┆ … ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ (…                             ┆   ┆                  ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William Henry       ┆ … ┆ 373450           ┆ 8.05    ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

#### Основная информация о датасете

In [7]:
titanic.shape

(891, 12)

In [8]:
titanic.estimated_size(unit = 'kb')

83.8583984375

In [9]:
titanic.dtypes

[Int64,
 Int64,
 Int64,
 String,
 String,
 Float64,
 Int64,
 Int64,
 String,
 Float64,
 String,
 String]

In [10]:
titanic.describe()

shape: (9, 13)
┌────────────┬─────────────┬──────────┬──────────┬───┬───────────┬───────────┬───────┬──────────┐
│ statistic  ┆ PassengerId ┆ Survived ┆ Pclass   ┆ … ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆   ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ … ┆ 891       ┆ 891.0     ┆ 204   ┆ 889      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ … ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ … ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ … ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ … ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ 25%        ┆ 224.0       ┆ 0.0      ┆ 2.0      ┆ … ┆ null      ┆ 7.925     ┆ null  ┆ null     │
│ 50%        ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ … ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
│ 75%        ┆ 669.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 31.0      ┆ null  ┆ null     │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
└────────────┴─────────────┴──────────┴──────────┴───┴───────────┴───────────┴───────┴──────────┘

In [11]:
titanic.null_count()

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

In [12]:
titanic.mean()

shape: (1, 12)
┌─────────────┬──────────┬──────────┬──────┬───┬────────┬───────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass   ┆ Name ┆ … ┆ Ticket ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---      ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---   ┆ ---      │
│ f64         ┆ f64      ┆ f64      ┆ str  ┆   ┆ str    ┆ f64       ┆ str   ┆ str      │
╞═════════════╪══════════╪══════════╪══════╪═══╪════════╪═══════════╪═══════╪══════════╡
│ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ null ┆ … ┆ null   ┆ 32.204208 ┆ null  ┆ null     │
└─────────────┴──────────┴──────────┴──────┴───┴────────┴───────────┴───────┴──────────┘

#### Количество пассажиров каждого класса

In [14]:
titanic.get_column('Pclass').value_counts().sort('Pclass', descending = False)

shape: (3, 2)
┌────────┬───────┐
│ Pclass ┆ count │
│ ---    ┆ ---   │
│ i64    ┆ u32   │
╞════════╪═══════╡
│ 1      ┆ 216   │
│ 2      ┆ 184   │
│ 3      ┆ 491   │
└────────┴───────┘

#### Количество выживших мужчин и женщин на корабле

In [16]:
titanic.group_by('Sex').agg(pl.col('Survived').sum())

shape: (2, 2)
┌────────┬──────────┐
│ Sex    ┆ Survived │
│ ---    ┆ ---      │
│ str    ┆ i64      │
╞════════╪══════════╡
│ male   ┆ 109      │
│ female ┆ 233      │
└────────┴──────────┘

#### Фильтр данных по условию

In [18]:
titanic.filter(pl.col('Age') > 44)

shape: (115, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr. Timothy J         ┆ … ┆ 17463      ┆ 51.8625 ┆ E46   ┆ S        │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss. Elizabeth        ┆ … ┆ 113783     ┆ 26.55   ┆ C103  ┆ S        │
│ 16          ┆ 1        ┆ 2      ┆ Hewlett, Mrs. (Mary D Kingcome… ┆ … ┆ 248706     ┆ 16.0    ┆ null  ┆ S        │
│ 34          ┆ 0        ┆ 2      ┆ Wheadon, Mr. Edward H           ┆ … ┆ C.A. 24579 ┆ 10.5    ┆ null  ┆ S        │
│ 53          ┆ 1        ┆ 1      ┆ Harper, Mrs. Henry Sleeper (My… ┆ … ┆ PC 17572   ┆ 76.7292 ┆ D33   ┆ C        │
│ …           ┆ …        ┆ …      ┆ …                               ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 858         ┆ 1        ┆ 1      ┆ Daly, Mr. Peter Denis           ┆ … ┆ 113055     ┆ 26.55   ┆ E17   ┆ S        │
│ 863         ┆ 1        ┆ 1      ┆ Swift, Mrs. Frederick Joel (Ma… ┆ … ┆ 17466      ┆ 25.9292 ┆ D17   ┆ S        │
│ 872         ┆ 1        ┆ 1      ┆ Beckwith, Mrs. Richard Leonard… ┆ … ┆ 11751      ┆ 52.5542 ┆ D35   ┆ S        │
│ 874         ┆ 0        ┆ 3      ┆ Vander Cruyssen, Mr. Victor     ┆ … ┆ 345765     ┆ 9.0     ┆ null  ┆ S        │
│ 880         ┆ 1        ┆ 1      ┆ Potter, Mrs. Thomas Jr (Lily A… ┆ … ┆ 11767      ┆ 83.1583 ┆ C50   ┆ C        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴────────────┴─────────┴───────┴──────────┘

![separator1](https://i.imgur.com/ZUWYTii.png)

## Ускорение работы Pandas: Bottleneck

In [21]:
titanic_pd = pd.read_csv(r'D:\ДПО\data\train_titanic.csv')
titanic_pd.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

#### Средний возраст пассажиров и его стандартное отклонение

In [23]:
age = np.array(titanic_pd['Age'])
mean_age = bn.nanmean(age)
std_age = bn.nanstd(age)
print (f'Средний возраст пассажиров равен {mean_age:.2f}') # :.2f округлили число до 2 знаков с помощью f-string
print (f'Стандартное отклонение возраста пассажиров равно {std_age:.2f}')

Средний возраст пассажиров равен 29.70
Стандартное отклонение возраста пассажиров равно 14.52

#### Умножение значений столбца Fare на 1.3 и их сохранение в новый столбец Fare_new

In [25]:
%%timeit
# 1 способ
titanic_pd['Fare_new'] = titanic_pd['Fare'].apply(lambda x: x * 1.3)
titanic_pd.head(3)

281 μs ± 51.6 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [26]:
%%timeit
# 2 способ

Fare_new2 = []
for row in titanic_pd.itertuples():
    Fare_new2.append(row.Fare * 1.3)

titanic_pd['Fare_new_2'] = Fare_new2 
titanic_pd.head(3)

2.08 ms ± 298 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

![separator1](https://i.imgur.com/ZUWYTii.png)

## Оптимизация типов данных в Pandas

In [29]:
housing = pd.read_csv(r'D:\ДПО\data\Housing.csv')
housing.head(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [30]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [31]:
housing['furnishingstatus'].unique()

array(['furnished', 'semi-furnished', 'unfurnished'], dtype=object)

In [32]:
print(housing.max(numeric_only = True))

price        13300000
area            16200
bedrooms            6
bathrooms           4
stories             4
parking             3
dtype: int64

Оптимальные типы данных для столбцов, содержащих числовые значения:
1. price - int 32 от -2 147 483 648 до 2 147 483 647.
2. area - int 16 от - 32 768 до 32 767
3. bedrooms - int 8 от - 128 до 127
4. bathrooms - int 8
5. stories - int 8
6. parking - int 8

Для столбцов, содержащих строковые значения (mainroad, guestroom, basement, hotwaterheating, airconditioning, prefarea, furnishingstatus), используем тип данных - category

Напишем функцию для оптимизации типов данных в датафрейме, чтобы можно было использовать её в дальнейшей работе

In [34]:
# Функция для оптимизации типов данных в dataframe
def optimize_memory_usage(df):

    memory_before = df.memory_usage(deep=True).sum() / 1024**2 # Размер занимаемой памяти до оптимизации (в Мб)
    
    for col in df.columns:
        col_type = df[col].dtype

        # Обработка числовых столбцов
        if pd.api.types.is_integer_dtype(col_type):
            c_min = df[col].min()
            c_max = df[col].max()
            if np.iinfo(np.int8).min <= c_min <= np.iinfo(np.int8).max:
                df[col] = df[col].astype(np.int8)
            elif np.iinfo(np.int16).min <= c_min <= np.iinfo(np.int16).max:
                df[col] = df[col].astype(np.int16)
            elif np.iinfo(np.int32).min <= c_min <= np.iinfo(np.int32).max:
                df[col] = df[col].astype(np.int32)
        
        # Обработка числовых столбцов с плавающей точкой
        elif pd.api.types.is_float_dtype(col_type):
            df[col] = df[col].astype(np.float32)

        # Обработка строковых столбцов
        elif col_type == object:
            num_unique_values = df[col].nunique()
            num_total_values = len(df[col])
            if num_unique_values / num_total_values < 0.5: # проверяем, много ли у нас уникальных значений (имеет ли смысл менять тип колонки на категориальный?)
                df[col] = df[col].astype('category') # Преобразуем в категориальный тип

    memory_after = df.memory_usage().sum() / 1024**2 # Размер занимаемой памяти после оптимизации (в Мб)

    print(f'Память до оптимизации: {memory_before:.2f} MB\nПамять после оптимизации: {memory_after:.2f} MB\nСэкономлено: {((memory_before - memory_after)/memory_before)*100:.2f}%')
    
    return df

In [35]:
housing_optimized = optimize_memory_usage(housing)

Память до оптимизации: 0.22 MB
Память после оптимизации: 0.01 MB
Сэкономлено: 95.48%

In [36]:
housing.dtypes

price                  int32
area                   int16
bedrooms                int8
bathrooms               int8
stories                 int8
mainroad            category
guestroom           category
basement            category
hotwaterheating     category
airconditioning     category
parking                 int8
prefarea            category
furnishingstatus    category
dtype: object